/* .originalPrice {
    text-decoration: underline; 
  }

  .descuento {
    position: absolute;
    background-color: #E6541B;
    left: -5px;
    bottom: 0;
    font-size: 15px;
    padding: 8px;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    border-radius: 10px;
}

.card_price {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 12px;
} */
/* Discount.module.css */

/* Discount.module.css */

.discountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .descuento {
    font-size: 1.2rem;
    color: red;
    margin-bottom: 5px;
  }
  
  .ahorro {
    font-size: 0.8rem;
    color: darkgreen;
    margin-left: 5px;
  }
  
  .originalPrice {
    text-decoration: line-through;
    font-size: 1rem;
    color: gray;
  }
  
  .discountedPrice {
    font-size: 1.5rem;
    color: green;
  }
  
  .originalPriceNoDiscount{
    font-size: 1.5rem;
    color: green;
  }
  
