.filterBox {
    position: relative;
}

.filterBox button {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 10px;
    width: 200px;
    border: 2px solid #777;
    transition: border 100ms ease-in;
    cursor: pointer;
    border-radius: 5px;
}

.filterBox button:nth-child(1) {
    font-size: 15px;
    color: #eee;
}

.filterBox_button_span {
    font-size: 25px;
    font-family: sans-serif;
    transform: rotate(90deg);
    color: #eee;
}

.filterBox button:hover {
    border: 2px solid #E6541B;
}

.filterBox_checkboxes {
    position: absolute;
    display: flex;
    z-index: 500;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@media only screen and (max-width: 800px) {
    .filterBox button {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        padding: 10px;
        width: 90vw;
        border: 2px solid #777;
        transition: border 100ms ease-in;
        cursor: pointer;
        border-radius: 5px;
    }
}