.catalog-container {
  display: flex;
}

.filters-column {
  width: 200px; /* Ancho de la columna izquierda */
  padding: 20px; /* Agrega algún relleno para que se vea como una caja */
  background-color: #f0f0f0; /* Color de fondo opcional */
  border: 1px solid #ccc; /* Borde opcional */
}

.main-content {
  flex: 1; /* El contenido principal ocupa el espacio restante */
}
