.nav_menu {
    display: flex;
    width: 650px;
    height: 70px;
    border-radius: 35px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(74, 74, 74, 0.75);
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: relative;
}

.nav_menu img {
    width: 25px;
    height: 25px;
}

.nav_menu_platform img {
    width: 25px;
    height: 25px;
}

.nav_menu_platform {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
    filter: contrast(0) brightness(2);
    cursor: pointer;
}
.nav_menu_platform:hover {
    filter: contrast(0) brightness(1);
}

.nav_menu_platform_icon {
    font-size: 20px;
    transform: rotate(90deg);
}

.nav_menu_scrolled {
    display: flex;
    width: 650px;
    height: 70px;
    position: relative;
}

.nav_menu_scrolled img {
    width: 25px;
    height: 25px;
}