.container {
    display:  flex;
    min-height: 100vh;
    height: 100%;
}
.container aside{
    width: 15%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(17, 25, 40);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    position: relative;
}
.containerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.containerMain {
    width: 85%;
    min-height: 100vh;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
/*NAVBAR*/
.containerMain nav {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.containerMain h1 {
    font-size: 30px;
    position: relative;
    height: 60%;
    display: flex;
    align-items: end;
    color: black;
    word-spacing: 3px;
    font-weight: 100;
    padding-top: 75px;
}

/* TABLE TITLE */
.containerTable {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 650px;
}
.containerTable .verOtras {
    position: absolute;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: rgba(17, 25, 40);
    color: #fff;
    border: 1px solid rgba(17, 25, 40);;
    cursor: pointer;
    transition: all .3s ease-in-out;
    right: 2%;
    top: 3%;
}
.containerTable .verOtras:hover {
    background-color: rgb(26, 38, 59);
    color: #fff;
    border: 1px solid rgb(26, 38, 59);
}
.containerTable h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 25px;
    padding-left: 20px;
}
/* TABLE HEAD */
.containerTable table {
    position: relative;
    border-collapse: collapse;
}
.containerTable table thead {
    background-color: rgba(17, 25, 40);
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.containerTable table thead tr{
    text-align: left;
}
.containerTable table thead tr th {
    padding: 7px 5px;
}
.containerTable table thead tr th:last-child {
    text-align: center;
}
/* TABLE BODY */
.rowEven {
    background-color: #e9e8e8;
}
.rowOdd {
    background-color: #fff;
}
.row td {
    padding: 10px 5px;
}
.rowChange {
    border-radius: 5px ;
    width: 130px;
}
.row td:last-child {
    text-align: center;
}
.row td:last-child button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}
