.form_or_container {
    color: #eee;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 15px;
}

.form_or_container h2 {
    margin-left: 10px;
    margin-right: 10px;
}

.form_or {
    width: 100%;
    border-bottom: 2px solid #eee;
    margin-bottom: 12px;
}

