.tabletBanners {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 650px;
}

.tabletBanners .containerSelect{
    display: flex;
    gap: 50px;
    padding: 15px 10px;
}
.tabletBanners .containerSelect select {
    border: none;
    text-align: end;
    padding-right: 2px;
    width: 150px;
    padding: 20px 0;
}
.tabletBanners .containerSelect select option {
    background-color: #e3dbdb;
    font-family: Arial, Helvetica, sans-serif;
}
.tabletBanners table{
    position: relative;
    border-collapse: collapse;
}
.tabletBanners table thead {
    background-color: rgba(17, 25, 40);
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.tabletBanners table thead tr{
    text-align: left;
}
.tabletBanners table thead tr th {
    padding: 7px 5px;
}
.tabletBanners table td button {
    cursor: pointer;
    background: none;
    border: none;
}
.rowEven {
    background-color: #e9e8e8;
}
.rowOdd {
    background-color: #fff;
}
.row td {
    padding: 10px 5px;
}
.rowHover td {
    padding: 10px 5px;
}
.containerMessage {
    position: absolute;
    bottom: 3%;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}
.containerMessage button{
    background-color: #fff;
    border: none;
    font-size: 12px;
    color: rgb(0, 128, 94);
    cursor: pointer;
}
.containerMessage small {
    position: absolute;
    left: 1%;
    font-size: 13px;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.5)
}
.editRol {
    position: relative;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(17, 25, 40);
    z-index: 10;
}
.seeInfo {
    position: relative;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerEditUser {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.containerEditUser button:first-child{
    position: absolute;
    background: none;
    border: none;
    top: 4%;
    left: 3%;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.containerEditUser button:first-child:hover {
    transform: scale(1.4);
}
.containerEditUser strong {
    position: absolute;
    top: 20%;
    font-size: 20px;
    width: 80%;
    text-align: center;
}
.containerEditUser select {
    position: absolute;
    border-radius: 5px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    bottom: 40%;
    font-family:'Times New Roman', Times, serif
}
.containerEditUser select option {
    border-radius: 10px;
    background-color: aliceblue;
}
.updateBtn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #ffffff;
    padding: 2px 20px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-family: cursive;
    transition: all 0.3s ease-in-out;
    color: rgba(17, 25, 40);
    cursor: pointer;
    border: 1px solid #fff;
}
.updateBtn:hover {
    color: #fff;
    background-color: rgba(17, 25, 40);
}

.containerImg {
    position: relative;
    border-radius: 5px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family:'Times New Roman', Times, serif;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.containerImg button:first-child{
    position: absolute;
    background: none;
    border: none;
    top: 4%;
    left: 2%;
    cursor: pointer;
    color: rgba(17, 25, 40);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.containerImg button:first-child:hover {
    transform: scale(1.4);
}
.containerImg img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid rgba(17, 25, 40)
}
.containerInfo {
    position: relative;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    padding-left: 20px;
    justify-content: start;
    gap: 15px;
}
.btnStatus {
    position: relative;
    height: 50%;
    width: 100%;
    padding-left: 20px;
}
.btnStatus button {
    padding: 2px 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btnStatus button:hover {
    transform: scale(1.1);
}
.containerBtn {
    position: absolute;
    bottom: 5%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    display: inline-flex;
    height: 40px;
    width: 140px;
    border: 2px solid #2D3142;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(17, 25, 40);
}
.view {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn2 .view {
    position: relative;
    transition: all .4s ease-Out;
}
.slideBtn {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #fff;
    position: absolute;
    transition: all .5s ease-out;
    bottom: 0;
}
.btn2:hover .slideBtn {
    left: 0;  
}  
.btn2:hover .view {
    color: #2D3142;
}
.containerMessage p {
    color: black;
    font-size: 12px;
}
.addGame {
    position: absolute;
    right: 1.5%;
    top: 3%;
    color: rgba(17, 25, 40);
    padding: 6px 7px;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.addGame:hover {
    background-color: rgba(17, 25, 40);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
}
.seeInfo .closeAll {
    position: absolute;
    top: 2%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    left: 2.5%;
    transition: all .3s ease-in-out;
}
.seeInfo .closeAll:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.seeInfo h2 {
    position: absolute;
    top: 7%;
    font-size: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}
.seeInfo h3 {
    position: absolute;
    right: 2%;
    top: 2%;
}
.seeInfo .bgBanner {
    position: absolute;
    z-index:1;
    width: 100%;
    height: 60%;
}
.seeInfo .logoBanner {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 10;
}
.seeInfo .bannerFc {
    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: #fff;
    color: rgba(17, 25, 40);
    border: 1px solid rgba(17, 25, 40);
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 3px;
}
.seeInfo .bannerFc:hover {
    background-color: rgba(17, 25, 40);
    color: #fff;
}