.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Puedes ajustar esto según tus preferencias */
}

.card_game {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px; /* Ajusta este valor según tus preferencias */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px;
    width: 200px; /* Ancho fijo para todas las tarjetas */
    height: 250px; /* Alto fijo para todas las tarjetas */
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    overflow: hidden; /* Añade esto para asegurarte de que la imagen se ajuste a los bordes redondeados */
    position: relative;
    z-index: 1;
}

.card_game img {
    max-width: 100%;
    max-height: 60%; /* Ajusta el alto de la imagen según tus necesidades */
    border-radius: 50%; /* Para un borde circular */
    position: relative;
    z-index: -1;
}
