.card {
    position: relative;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.card_game {
    width: 340px;
    height: 220px;
    cursor: pointer;
    border-radius: 14px;
    margin-top: 30px;
}

.card_game img {
    border-radius: 12px;
    position: relative;
}

.descuento {
    position: absolute;
    background-color: #E6541B;
    left: -5px;
    bottom: 0;
    font-size: 15px;
    padding: 8px;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    border-radius: 10px;
}
.card_price {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    margin-bottom: 30px;
    font-size: 10px;
}

.card_name {
    text-wrap: wrap;
    text-align: left;
    font-family: barlow,arial,sans-serif;
}

.card_price_name {
    font-size: 20px;
}