.box {
    margin: 20px;
}
.box_label {
    display: inline-block;
    width: 100%;
    padding: 4px;
    color: #eee;
    cursor: pointer;
}

.box_label:hover {
    border-radius: 6px;
    background-color: #E6541B;
}

.box input:checked + .box_label{
    background-color: #E6541B;;
}