.box {
    margin: 20px;
}
.box_label {
    display: inline-block;
    width: 100%;
    padding: 4px;
    color: #eee;
    cursor: pointer;
}

.box_label:hover {
    border-radius: 6px;
    background-color: #E6541B;
}

.box_label_check {
    display: inline-block;
    width: 100%;
    padding: 4px;
    color: #eee;
    cursor: pointer;
    border-radius: 6px;
    background-color: #E6541B;
}


.box_range {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 4px;
}

.box_range_box {
    display: flex;
    gap: 10px;
}

.box_range_box input {
    width: 40px;
}

.box_range_box label {
    color: #eee;
}