
.dashboard_nav {
    width: 15%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(17, 25, 40);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    position: relative;
}

.dashboard_nav_links {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    gap: 20px;
}

.dashboard_nav_close {
    display: flex;
}

/* DASHBOARD */
