.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 50px; /* Añadí un poco de espacio alrededor del contenido */
    color: #fff;
  }
  
  .landing_text {
    color: #fff;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .landing_text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .landing_text p {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .landing_text p a {
    color: #fff; /* Cambia el color del enlace dentro del párrafo */
    text-decoration: underline; /* Puedes ajustar esto según tus preferencias */
  }
  
  .landing img {
    width: 250px;
    margin-right: 50px;
    border-radius: 10px; /* Es opcional, añade bordes redondeados a la imagen */
  }
  
  @media only screen and (max-width: 800px) {
    .landing {
      flex-direction: column;
      text-align: center;
    }
  
    .landing img {
      width: 150px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
