@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 50px;
  color: #fff;
}

.landing_text {
  color: #fff;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.landing_text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(230,84,27);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.landing_text p {
  font-size: 1.2em;
  line-height: 1.5;
}

.landing_text p a {
  color: rgb(230,84,27);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.landing_text p a:hover {
  color: #ffd700;
}

.landing img {
  width: 250px;
  margin-right: 50px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .landing {
    flex-direction: column;
    text-align: center;
  }

  .landing img {
    width: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
