.filters-container {
    color: black; /* Color del texto */
    background-color: rgb(174, 174, 241); /* Color de fondo */
  }
  
  /* Estilos adicionales según sea necesario */
  label {
    display: block; /* Para que cada checkbox esté en una línea */
    margin-bottom: 5px; /* Espaciado entre cada checkbox */
  }
  .h1{
    color: black;
  }
  
  /* Puedes agregar más estilos según sea necesario */
  