.landing_clip_path {
    position: absolute;
    background-color: #333;
    height: 80px;
    width: 100%;
    bottom: 0;
    -webkit-clip-path: polygon(0 18%, 100% 82%, 100% 100%, 0% 100%);
    clip-path: polygon(0 18%, 100% 82%, 100% 100%, 0% 100%);
}