.home {
    background-color: #333;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.home h1 {
    display: flex;
    width: 100%;
    margin-left: 30px;
    align-items: center;
    gap: 20px;
}

.home_tittle {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 40px;
    color: #E6541B;
}