/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #E6541B;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #333 ;
} */